
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/ftr.css">
  <title>Hindi News Channel</title>
</head>
<body>
  <!-- Footer Section -->
  <footer> 
    <div class="footer-container">
      <div class="social-links">
        <h3>Stay Connected</h3>
        <ul>
            <li><a href="https://facebook.com/pratyakshdarshi" class="facebook">Facebook</a></li>
            <li><a href="https://twitter.com/EyewitnessINDIA" class="twitter">Twitter</a></li>
            <li><a href="https://youtube.com/pratyakshdarshi samachar" class="youtube">YouTube</a></li>
            <li><a href="https://instagram.com/pratyakshdarshi"  class="instagram">Instagram</a></li>
            <li><a href="https://wa.me/+916392102040?text=Hello" target="_blank" class="whatsapp">Whatsapp</a></li>
            <li><a href="http://whatsapp.com/channel/0029VaXFX7L1XquaIjzYZx0J " target="_blank" </li>Whatsapp Channel</a>
         
        </ul>
      </div>
      <div class="contact-info">
        <h3>Contact Us</h3>
        <p><strong>Office Address:प्रत्यक्षदर्शी समाचार</strong><br>
          
          287/6 E,मीडिया हाउस, आराम बाग कॉलोनी, मोती नगर, लखनऊ,
          उत्तर प्रदेश
        </p>
        <p><strong>Phone:</strong> +916392102040 ,+917881122464</p>
        <p><strong>Email:</strong>pratyakshdarshisamachar@gmail.com</p>
      </div>
      <div class="quick-links">
        <h3>Quick Links</h3>
        <ul>
          <li class="nav-item">
            <a href="../" class="nav-link text-black">होम</a>

        </li>
        
        <li class="nav-item">
            <a href="../about" class="nav-link text-black">हमारे बारे में</a>

        </li>
        
        <li class="nav-item">
            <a href="../contact" class="nav-link text-black">हमसे संपर्क करें</a>

        </li>
        <li class="nav-item">
            <a href="../services" class="nav-link text-black">हमारी सेवाएं</a>

        </li>
       


        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 प्रत्यक्षदर्शी समाचार . All Rights Reserved.</p>
    </div>
  </footer>
</body>
