
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pratyakshadarshi samachar</title>
    <link rel="stylesheet" href="/static/css/home.css">
   
    

</head>
{%include "header.html"%}
<div class="mrq mt-3">
    <marquee direction="left"><h1 class="tagline">प्रत्यक्षदर्शी समाचार "अच्छी खबरें, बेहतर जीवन की दिशा में!"</h1></marquee></div>

</div> 
<body class="background-color">
   
    
   <hr>
    
    
   

    <!-- imagepart -->
    
    <div class="row ">
        
        <div class="col-lg-4 col-md-3    " >
            {% for x in data %}
            <div class="container">
                <a class="image" href="{{x.ytlink}}">
                    <img src="{{ x.pic.url }}" width="80px" height="70px" style="padding: 5px;">
                    
                </a>
                <div class="news">
                    <p>{{x.heading}}</p>

                </div>
            </div>
            {% endfor %}
        </div>
       
        
         
            <div  class="col-lg-4 col-md-3  ">
           
            <div >
            {%for x in category %}
            <div >
                <a class="im" href={{x.ytlink}} >
                    <img src="{{x.pic.url}}" width="320px" height="200px" style="padding: 5px;">
                </a>
                <div class="news">
                    <p>{{x.heading}}</p>

                </div>
            </div>
          {% endfor%}
                {% comment %} <a class="im">
                    <img src="/static/img/m1.jpg" width="320px" height="200px" style="padding: 5px;">
                </a>
                <div class="news">
                    <p>यहाँ पर आज की महत्वपूर्ण खबर यहाँ पर आज की महत्वपूर्ण खबर</p>

                </div> {% endcomment %}
           </div>
               
                
                
            </div>
            

<!-- video content -->
            <div class="col-lg-4 col-md-3">
                <section class="videos">
                    <div >
                        
                        <div class="video-grid">
                            {%for x in newsvido %}
                            <div class="video-card">
                                <video controls height="200px" width="380px">
                                    <source src="{{x.vido.url}}" type="video/mp4">
                                    
                                </video>
                                <p>{{x.heading}}</p>
                            </div>
                            {% endfor %}

                            
                            
                        </div>
                    </div>
                </section>

            </div>
         
        
        

       
        
        
        
        
          

</div>
               

    </div> 

     
    </div>
         
    <div>
        <div class="mrq">
            <marquee direction="left"><h1 class="tagline">" आज की सबसे बड़ी और अच्छी खबरें "</h1></marquee></div>
        
        </div>  
        
        <!-- curser image -->

        {% comment %} <div class="owl-carousel owl-theme " >
            <div class="item"><img src="/static/img/m1.jpg" height="200px" width="300px"></div>
            <div class="item"><img src="/static/img/m1.jpg" height="200px" width="300px"></div>
            <div class="item"><img src="/static/img/m1.jpg" height="200px" width="300px"></div>
            <div class="item"><img src="/static/img/m1.jpg" height="200px" width="300px"></div>
            <div class="item"><img src="/static/img/m1.jpg" height="200px" width="300px"></div>
            <div class="item"><img src="/static/img/m1.jpg" height="200px" width="300px"></div>
            <div class="item"><img src="/static/img/m1.jpg" height="200px" width="300px"></div>   
        </div> {% endcomment %}
    </div>
    <!-- ffffffffffffffffffffffffff -->
   
   <div class="container2">
<div class="row">
    {%for x in bottomnewss %}
<div class="col-lg-3 col-md-3 ruu">
    
    <div class="card " >
        <div class="card-body ">
            <a class="navbar-brand" href="{{x.ytlink}}">
                <img src="{{x.pic.url}}" width="260" height="260px">
            </a>
        </div>
        <div class="card-footer">
            <p class="px-3">
                {{x.explain}}
            </p>
        </div>

    </div>
    
    

</div>
{% endfor %}


</div>


   

   <div class="mrq">
    <marquee direction="left"><h1 class="tagline">"Thanku for visiting our website"</h1></marquee></div>

   </div>
    
</body>
   <hr>


</html>
{%include "footer.html"%}