<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet"    href="/static/css/job.css">
    <title>Job Application Form</title>
   
   
</head>
{%include "header.html"%}
<hr>
<body>
    <div class="container">
        <h2>Job Application Form</h2>
        <form method="POST" action="{% url 'jobfor'%}">
            {% csrf_token %}
            <div>
                <label for="name">Full Name</label>
                <input type="text"  name="Name" placeholder="Enter your full name" required>
            </div>
            <div>
                <lable for="email">Email Address</label>
                    <input type="email"  name="Email" placeholder="Enter your email" required>
            </div>
           

            <div>
                <label for="phone">Phone Number</label>
                <input type="tel" name="Phone" placeholder="Enter your phone number" required>
            </div>


            <div>
                <label for="position">Position Applied For</label>
                <input type="text"  name="Position" placeholder="write your position">   

            </div>
            
            <div>
                <label for="resume">Upload Resume</label>
                <input type="file" name="Resume" accept=".pdf,.doc,.docx" required>

            </div>

           
            <div>
                <button type="submit">Submit Application</button>
                <button type="reset" class="btn btn-danger btc">Reset</button>
            </div>

            
        </form>
    </div>
</body>
<hr>
{%include "footer.html"%}
</html>


